$label: #F2F6FA;
$first-color: #5245B0;
$second-color:  #FED84C;

::placeholder {
    color: #7E868E;
    font-size: 15px;
}

html, body {
    margin:0;
    padding:0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

A {
    color: #4A94FF;
   }
   A:visited {
    color: #4A94FF;
   }
   A:active {
    color: #4A94FF;
   }

header {
    background-color: #F1F5F9;
    display: flex;
    justify-content: center;
}

.header_wrap {
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
    width: 1205px;
    margin-left: 70px;
    // padding-left: 370px;
    &_logo {
        // margin-left: 20px;
    }
    &_container {
    //    margin-left: 386px;
    //    margin-right: 360px;
       width: 695px;
       display: flex;
       justify-content: space-evenly;
       align-items: flex-start;
       &_email {
           display: flex;
           &_ico {
               margin-right: 9px;
           }
           &_text {
            font-size: 12px;
           }
       }
       &_map {
           width: 200px;
           display: flex;
           align-items: flex-start;
           &_ico {
               margin-right: 13px;
               //margin-left: 60px;
           }
           &_text {
            font-size: 12px;
           }
       }
       &_phone {
           display: flex;
           align-items: flex-start;
           &_ico {
               margin-right: 9px;
           }
        &_container {
            &_number {
                font-weight: bold;
                font-size: 20px;
            }
            &_descr {
                font-size: 12px;
            }
        }
       }
    }
}

.main {
    margin-top: -155px;
    background-image: url(img/bg.svg);
    background-size: cover;
    background-color: #F1F5F9;
    height: 883px;
    &_container {
        padding-top: 277px;
        padding-left: 85px;
        display: flex;
        justify-content: center;
        &_text {
            width: 580px;
            &_label {
                width: 191px;
                height: 37px;
                font-size: 11px;
                text-transform: uppercase;
                background-color: $label;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
        &_header {
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            margin-top: 24px;
        }
        &_descr {
            font-size: 21px;
            line-height: 30px;
            margin-top: 24px;
        }
        &_button {
            width: 263px;
            height: 88px;
            background: $second-color;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
            margin-top: 40px;
        }
        }
        &_image {
            // margin-left: 30px;
            width: 642px;
            height: 468px;
            align-self: flex-end;
        }
    }
}

.catalog {
    background-color: #F1F5F9;
    height: 946px;
    &_header {
        font-weight: 600;
        font-size: 48px;
        text-align: center;
        padding-top: 100px;
    }
    &_container {
        margin-top: 92px;
        display: flex;
        justify-content: center;
        &_card {
            width: 335px;
            height: 610px;
            margin-left: 10px;
            margin-right: 10px;
            &_img {
            display: block;
            height: 249px;
            margin: 0 auto;
            }
            &_block {
                background: #FFFFFF;
                margin: auto;
                width: 335px;
                height: 361px;
                box-shadow: 0px 4px 22px rgba(82, 69, 176, 0.18);
                border-radius: 0px 0px 10px 10px;
                display: flex;
                flex-direction: column;
                &_subheader {
                    margin-top: 50px;
                    margin-left: 44px;
                    font-weight: bold;
                    font-size: 24px;
                }
                &_descr {
                    font-size: 16px;
                    line-height: 24px;
                    font-style: normal;
                    font-weight: 400;
                    margin-left: 44px;
                    margin-top: 15px;
                    width: 240px;
                }
                &_price {
                    font-weight: 500;
                    font-size: 24px;
                    margin-left: 44px;
                    margin-top: 28px;
                }
                &_btn {
                    width: 191px;
                    height: 68px;
                    background: $first-color;
                    margin-left: 44px;
                    margin-top: 18px;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #FFFFFF;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
}

.individuality {
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
    &_container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 580px;
        &_image {
            // margin-left: 190px;
        }
        &_text {
            margin-left: 75px;
            width: 580px;
            &_label {
                width: 188px;
                height: 37px;
                background: $label;
                font-size: 11px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            &_header {
                margin-top: 24px;
                font-weight: 600;
                font-size: 48px;
                line-height: 60px;
            }
            &_descr {
                margin-top: 40px;
                font-size: 21px;
                line-height: 30px;
            }
            &_wrap {
                margin-top: 40px;
                width: 480px;
                display: flex;
                &_button {
                    width: 249px;
                    height: 88px;
                    background-color: $second-color;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: 40px;
                }
                &_descr {
                    font-size: 14px;
                    line-height: 21px;
                    margin-left: 20px;
                    margin-top: 63px;
                }
            }
        }
    }
}

.quality {
    background-color: #F1F5F9;
    height: 800px;
    &_container {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        &_text{
            // margin-left: 370px;
            &_label {
                width: 107px;
                height: 37px;
                font-size: 11px;
                text-transform: uppercase;
                background-color: rgba(82, 69, 176, 0.13);;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            &_header {
                margin-top: 26px;
                margin-bottom: 38px;
                max-width: 600px;
                font-weight: 600;
                font-size: 48px;
                line-height: 60px;
            }
            &_list {
                margin-bottom: 30px;
                display: flex;
                &_icon {
                    margin-top: 8px;
                    width: 10px;
                    height: 10px;
                    background: $first-color;
                    border-radius: 100%;
                }
                &_text {
                    margin-left: 12px;
                    font-size: 18px;
                    line-height: 27px;
                    max-width: 472px;
                }
            }
            &_wrap{
                display: flex;
                margin-top: 52px;
                &_btn {
                    width: 263px;
                    height: 88px;
                    background: $first-color;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #FFFFFF;
                    font-weight: bold;
                    font-size: 18px;
                }
                &_descr {
                    margin-left: 20px;
                    width: 210px;
                    font-size: 14px;
                    line-height: 21px;
                    align-self: center;
                }
            }
        }
        &_img {
            margin-left: 180px;
            width: 418px;
            height: 576px;
            align-self: center;
        }
    }
}

.reviews {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_header {
        margin-top: 70px;
        font-weight: 600;
        font-size: 48px;
        text-align: center;
    }
    &_card {
        width: 1173px;
        height: 524px;
        margin-top: 62px;
        box-shadow: 2px 8px 100px rgba(82, 69, 176, 0.2);
        border-radius: 5px;
        display: flex;
        align-self: center;
        &_text {
            margin-left: 222px;
            margin-top: 78px;
            &_subheader {
                margin-top: 32px;
                font-weight: 500;
                font-size: 30px;
            }
            &_descr {
                margin-top: 28px;
                font-size: 15px;
                line-height: 26px;
                width: 430px;
            }
            &_link {
                display: block;
                width: 110px;
                margin-top: 26px;
                font-size: 14px;
                text-decoration: none;
                border-bottom: 1px dashed #4A94FF;
            }
        }
        &_client {
            margin-top: 122px;
            margin-left: 125px;
            display: flex;
            flex-direction: column;
            &_name {
                margin-top: 30px;
                align-self: center;
                font-weight: 500;
                font-size: 21px;
            }
            &_city {
                margin-top: 6px;
                align-self: center;
                font-size: 16px;
                color: #A6AEB6;
            }
        }
    }
    &_btnwrap {
        display: flex;
        margin-top: 40px;
        align-self: center;
        &_prev {
            width: 66px;
            height: 66px;
            border-radius: 100%;
            background-color: $first-color;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_next {
            margin-left: 20px;
            width: 66px;
            height: 66px;
            border-radius: 100%;
            background-color: $first-color;
            display: flex;
            justify-content: center;
            align-items: center;
            &_img {
                transform: rotate(180deg);
            }
        }
    }
}

.clients {
    &_header {
        margin-top: 100px;
        font-weight: 600;
        font-size: 48px;
        text-align: center;
    }
    &_subheader {
        margin-top: 16px;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
    }
    &_wrap {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 9px;
        &_photo {
            width: calc(100%/3 - 9*2px);
        }
    }
}

.form {
    margin-top: 70px;
    height: 574px;
    background-color: #F1F5F9;
    display: flex;
    justify-content: center;
    &_card{
        width: 1180px;
        height: 394px;
        background: #FFFFFF;
        border: 8px solid #565E66;
        box-shadow: 0px 4px 100px rgba(82, 69, 176, 0.2);
        border-radius: 8px;
        margin-top: 100px;
        &_header {
            margin-top: 70px;
            font-weight: bold;
            font-size: 36px;
            text-align: center;
        }
        &_subheader {
            margin-top: 12px;
            font-weight: normal;
            font-size: 21px;
            text-align: center;
        }
        &_wrap {
            display: flex;
            margin-top: 28px;
            justify-content: center;
            color: #7E868E;
            &_number {
                display: flex;
                &_ico {
                    width: 14px;
                    height: 14px;
                    margin-top: 32px;
                    margin-left: 32px;
                    align-self: center;
                    z-index: 2;
                    margin-right: -38px;

                }
                &_input {
                    width: 260px;
                    height: 85px;
                    margin-top: 32px;
                    padding-left: 58px;
                    outline: none;
                    border: none;
                    border-radius: 8px;
                    background: #F1F5F9;
                    color: #7E868E;
                    font-size: 18px;
                }
            }
            &_email {
                display: flex;
                &_ico {
                    width: 14px;
                    height: 14px;
                    margin-top: 32px;
                    margin-left: 32px;
                    align-self: center;
                    z-index: 2;
                    margin-right: -57px;
                }
                &_input {
                    width: 260px;
                    height: 85px;
                    margin-top: 32px;
                    margin-left: 20px;
                    padding-left: 58px;
                    outline: none;
                    border: none;
                    border-radius: 8px;
                    background: #F1F5F9;
                    color: #7E868E;
                    font-size: 18px;
                }
            }
            &_btn {
                cursor: pointer;
                align-self: flex-end;
                width: 260px;
                height: 85px;
                margin-left: 20px;
                outline: none;
                border: none;
                border-radius: 8px;
                background: $first-color;
                color: #FFFFFF;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
            }
        }
        &_container {
            display: flex;
            margin-top: 25px;
            justify-content: center;
            align-items: center;
            &_checkbox {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
            &_checkbox+&_label {
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                user-select: none;
            }
            &_checkbox+&_label::before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #adb5bd;
                border-radius: 0.25em;
                margin-right: 0.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
            &_checkbox:checked+&_label::before {
                border-color: #4A94FF;
                background-color: #4A94FF;
                background-image: url(ico/check.svg);
              }
              &_cookies {
                font-size: 11px;
                color: #7E868E;
                &_link {
                    font-size: 11px;
                    color: #7E868E;
                }
              }
        }
    }
}

footer {
    height: 150px;
    padding-top: 100px;
    background-color: #F1F5F9;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        &_firstline {
            width: 705px;
            display: flex;
            justify-content: space-between;
            a {
                color: #7E868E;
                text-decoration: none
              }
            a:hover {
                text-decoration: underline
            }
        }
        &_secondline{
            color: #7E868E;
            margin-top: 22px;
        }
    }
}


@media screen and (max-width:1500px) {
    .header {
        &_wrap {
            width: 77vw;
        }
    }
    .main {
        height: 983px;
        &_container {
            padding-top: 294px;
            padding-left: 150px;
            &_text {
                width: 555px;
                &_header {
                    font-size: 44px;
                    line-height: 1.3;
                }
                &_descr {
                    font-size: 17px;
                }
            }
            &_image {
                width: 50%;
                height: 50%;
                padding-right: 30px;
                align-self: center;
            }
        }
    }
    .catalog {
        &_header {
            font-size: 40px;
        }
        &_container {
            &_card {
                display: flex;
                flex-direction: column;
                margin-left: 0;
                margin-right: 0;
                &_img {
                    align-content: flex-end;
                    width: 330px;
                    margin: 0 0;
                }
                &_block {
                    width: 310px;
                    height: 365px;
                    &_btn {
                        width: 158px;
                        height: 54px;
                    }
                }
            }
        }
    }
    .individuality {
        padding-top: 20px;
        &_container {
            height: 540px;
            &_image {
                align-self: center;
                width: 30vw;
                height: auto;
                margin-top: 40px;
            }
            &_text {
                width: 500px;
                &_header {
                    font-size: 37px;
                    line-height: 1.3;
                }
                &_descr {
                    font-size: 19px;
                }
                &_wrap {
                    margin-top: 12px;
                    &_button {
                        width: 231px;
                        height: 70px;
                    }
                    &_descr {
                        margin-top: 54px;
                    }
                }
            }
        }
    }
    .quality {
        height: 754px;
        &_container {
             &_text {
                 &_header {
                     font-size: 37px;
                     line-height: 1.3;
                     margin-bottom: 24px;
                 }
                &_list {
                    margin-bottom: 18px;
                }
                &_wrap {
                    &_btn {
                        width: 231px;
                        height: 70px;
                    }
                }
             }
             &_img {
                align-self: center;
                height: auto;
                width: 25vw;
                margin-left: 0;
                margin-bottom: 90px;
             }
        }
    }
    .reviews {
        &_header {
            font-size: 37px;
        }
        &_card {
            width: 900px;
            height: 454px;
            &_text {
                margin-left: 90px;
                margin-top: 28px;
                &_descr {
                    font-size: 14px;
                }
            }
        }
        &_btnwrap {
            &_prev, &_next {
                width: 54px;
                height: 54px;
            }
            &_next {
                margin-left: 12px;
            }
        }
    }
    .clients {
        &_header {
            font-size: 37px;
        }
        &_subheader {
            font-size: 23px;
        }
        &_wrap {
            &_photo {
                width: calc(100%/3 - 9*2px);
            }
        }
    }
    .form {
        &_card {
            width: 80%;
            &_header {
                font-size: 32px;
            }
            &_subheader {
                font-size: 17px;
            }
            &_wrap {
                &_number {
                    &_ico {
                        margin-top: 32px;
                    }
                    &_input {
                        width: 212px;
                        height: 72px;
                    }
                }
                &_email {
                    &_ico {
                        margin-top: 32px;
                    }
                    &_input {
                        width: 212px;
                        height: 72px;
                    }
                }
                &_btn {
                    width: 212px;
                    height: 72px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .header_wrap {
        &_container {
            padding-top: 5px;
            justify-content: space-around;
            &_email_text, &_map_text, &_phone_container_descr {
                font-size: 10px;
            }
            &_map {
                width: 160px;
            }
            &_email, &_map {
                padding-left: 10px;
            }
            &_phone {
                &_container {
                    &_number {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .main {
        height: 730px;
        margin-top: -187px;
        &_container {
            padding-left: 126px;
            &_text {
                &_label {
                    width: 157px;
                    height: 28px;
                    font-size: 9px;
                }
                &_header {
                    font-size: 23px;
                }
                &_descr {
                    @media screen and (min-width: 900px){
                        font-size: 14px;
                        line-height: 19px;
                    }
                    font-size: 12px;
                    line-height: 15px;
                }
                &_button {
                    @media screen and (min-width: 900px){
                        width: 230px;
                        height: 70px;
                    }
                    margin-top: 27px;
                    width: 200px;
                    height: 50px;
                    font-size: 14px;
                }
            }
            &_image {
                align-self: flex-end;
                width: 50%;
                margin-left: 20px;
            }
        }
    }
    .catalog {
        height: 770px;
        &_header {
            font-size: 23px;
            padding-top: 50px;
        }
        &_container {
            margin-top: 60px;
            &_card {
                width: 258px;
                height: 550px;
                &_block {
                    margin: auto;
                    width: 218px;
                    height: 300px;
                    &_subheader{
                        margin-top: 25px;
                        margin-left: 22px;
                        font-size: 20px;
                    }
                    &_descr {
                        font-size: 14px;
                        margin-left: 22px;
                        margin-top: 30px;
                        width: 180px;
                    }
                    &_price {
                        font-size: 22px;
                        margin-left: 22px;
                        margin-top: 17px;
                    }
                    &_btn {
                        margin-left: 22px;
                        font-size: 12px;
                    }
                }
                &_img {
                    margin: auto;
                    width: 190px;
                }
            }
        }
    }
    .individuality {
        &_container {
            height: 312px;
            margin-left: 54px;
            &_image {
                align-self: center;
            }
            &_text {
                width: 408px;
                margin-left: 64px;
                &_label {
                    width: 157px;
                    height: 28px;
                    font-size: 9px;
                }
                &_header {
                    font-size: 23px;
                }
                &_descr {
                    @media screen and (min-width: 900px){
                        font-size: 14px;
                    }
                    width: 300px;
                    font-size: 12px;
                    line-height: 15px;
                    margin-top: 20px;
                }
                &_wrap {
                    width: auto;
                    &_button {
                        @media screen and (min-width: 900px){
                            width: 200px;
                            height: 55px;
                            font-size: 14px;
                        }
                        margin-top: 27px;
                        width: 150px;
                        height: 50px;
                        font-size: 12px;
                    }
                    &_descr {
                        @media screen and (min-width: 900px){
                            margin-top: 36px;
                            font-size: 12px;
                            width: auto;
                        }
                        width: 150px;
                        font-size: 10px;
                        margin-top: 33px;
                    }
                }
            }
        }
    }
    .quality {
        height: 494px;
        &_container {
            padding-top: 56px;
            &_text {
                width: 400px;
                &_label {
                    width: 100px;
                    height: 28px;
                    font-size: 9px;
                }
                &_header {
                    font-size: 23px;
                }
                &_list {
                    margin-bottom: 14px;
                    &_icon {
                        width: 6px;
                        height: 6px;
                    }
                    &_text {
                        width: 231px;
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
                &_wrap {
                    margin-top: 14px;
                    &_btn {
                        @media screen and (min-width: 900px){
                            width: 177px;
                            height: 55px;
                            font-size: 14px;
                        }
                        margin-top: 27px;
                        width: 150px;
                        height: 50px;
                        font-size: 12px;
                    }
                    &_descr {
                        @media screen and (min-width: 900px){
                            margin-top: 32px;
                            font-size: 12px;
                            width: 200px;
                        }
                        width: 150px;
                        font-size: 10px;
                        line-height: 1.3;
                        margin-top: 33px;
                    }
                }
            }
            &_img {
                @media screen and (min-width: 900px){
                    margin-top: 50px;
                    margin-bottom: 0;
                }
                margin-bottom: 12px;
                margin-left: 16px;
            }
        }
    }
    .reviews {
        height: 684px;
        &_header {
            font-size: 23px;
        }
        &_card {
            width: 700px;
            height: 414px;
            &_text {
                margin-left: 48px;
                &_quote {
                    width: 20px;
                    height: 20px;
                }
                &_subheader {
                    margin-top: 19px;
                    font-size: 22px;
                }
                &_descr {
                    width: 348px;
                    font-size: 12px;
                }
                &_link {
                    font-size: 12px;
                    width: 92px;
                }
            }
            &_client {
                margin-left: 80px;
                margin-top: 87px;
                &_name {
                    font-size: 14px;
                }
                &_city {
                    font-size: 14px;
                }
            }
        }
        &_btnwrap {
            margin-top: 30px;
            &_prev, &_next {
                width: 40px;
                height: 40px;
                &_img {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }
    .clients {
        &_header {
            font-size: 23px;
            margin-top: 50px;
        }
        &_subheader {
            font-size: 16px;
        }
    }
    .form {
        height: 465px;
        &_card {
            border-width: 4px;
            height: 324px;
            &_header {
                font-size: 21px;
            }
            &_subheader {
                font-size: 14px;
            }
            &_wrap {
                margin-top: 8px;
                &_number, &_email {
                    >input::placeholder{
                        font-size: 12px;
                    }
                }
                &_number_input {
                    width: 130px;
                    height: 55px;
                    font-size: 12px;
                    ::placeholder {
                        font-size: 12px;
                    }
                }
                input::placeholder {
                    font-size: 12px;
                }
                &_email_input{
                    width: 130px;
                    height: 55px;
                    font-size: 12px;
                }
                &_btn {
                    width: 150px;
                    height: 55px;
                    font-size: 12px;
                }
            }
            &_container {
                &_cookies {
                    font-size: 10px;
                }
            }
        }
    }
    footer {
        .container {
            &_firstline, &_secondline {
                font-size: 10px;
            }
            &_firstline {
                width: 480px;
            }
        }
    }
}